

.container{
    display:flex ;
    flex-direction: column;
    background-color: black;
    
}


.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 40px;
   
}

.text{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.inputs{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.input input{
    height: 40px;
    width: 400px;
    font-size: 19px;
}

.submit{
    display: flex;
    color: azure;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: red;
    width: 140px;
    height: 39px;
    
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}